<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <title>{% block title %}mbzlists-resolvers{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-mono text-base m-8 bg-gray-100 text-gray-800">
    <nav class="bg-gray-300 p-2 sm:px-4 rounded-lg flex flex-col sm:flex-row justify-between items-center mb-5 text-sm">
        <div class="flex flex-col sm:flex-row items-center mb-2 sm:mb-0">
            <a href="/" class="no-underline text-gray-800 font-bold mr-1">mbzlists-resolvers</a>
            <span class="text-gray-600 text-center sm:text-left">Playlist exporters and content resolvers for <a href="https://mbzlists.com" class="text-blue-600 hover:underline">mbzlists.com</a></span>
        </div>
        <div class="flex-shrink-0">
            <a href="https://github.com/lepisma/mbzlists-resolvers" class="no-underline text-gray-800 hover:text-gray-600">Source code</a>
        </div>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>
